.formulário-Container{
    margin: 30px;
}

.formulário-Container2{
    margin-left: 30px;
    margin-right: 30px;
    margin-Bottom: 30px;
}

.button-comprar{
    margin-left: 35px;
}

.form-passos-size{
    margin-top: 30px;
}

.radio-size{
    margin: 25px;
}

.btn-completar{
    margin-top: 20px;
}
